@import '../../../styles/mixins.scss';

.icon {
  font-size: 20px;
  transition: .3s;

  &-disabled {
    color: rgba($color: #fff, $alpha: .2);
    transform: scale(.9);
  }

  @include tablet() {
    font-size: 22px;
  }

  @include tablet() {
    font-size: 24px;
  }
}