@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.weeks {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  overflow: hidden;

  background-color: $color-grey--light;
  width: 100%;

  @include desktop() {
    position: absolute;
    bottom: 0;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  &__title {
    font-size: 46px;
  }

  &__list {
    list-style: none;
    padding: 0;

    display: flex;
    gap: 30px;

    transition: transform 1s;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}