<section class="weeks" #weeksEl>
  <div class="weeks__header">
    <article class="weeks__wrapper">
      <div class="weeks__dates"> 
        <p class="weeks__dates_date">{{selectedWeek?.startFrom}}</p>

        <span class="weeks__slash">-</span>
  
        <p class="weeks__dates_date">{{selectedWeek?.endTo}}</p>
      </div>

      <div class="weeks__months">
        <p class="weeks__month">{{selectedWeek?.startFrom! | month}}</p>

        <ng-container
          *ngIf="
            (selectedWeek?.startFrom! | month) !== (selectedWeek?.endTo! | month)
          "
        >
          <span class="weeks__slash">-</span>
          <p class="weeks__month">{{selectedWeek?.endTo! | month}}</p>

        </ng-container>
      </div>
    </article>

    <div class="weeks__arrows">
      <app-icon-button
        (action)="onWeekUnShift()"
        (doubleClick)="onWeekUnShiftMin()"
        [img]="'bx bxs-left-arrow'"
        [isDisabled]="isMin"
      />

      <app-icon-button
        (action)="backToCurrent()"
        [img]="'bx bxs-pointer'"
        [isDisabled]="isCurrent"
      />
      
      <app-icon-button
        (action)="onWeekShift()"
        (doubleClick)="onWeekShiftMax()"
        [img]="'bx bxs-right-arrow'"
        [isDisabled]="isMax"
      />
    </div>
  </div>

  <ul
    class="weeks__list"
    [ngStyle]="{ 'transform': 'translateX(' + weeksShift + 'px)' }"
  >
    <app-week
      *ngFor="let week of weeks; trackBy: trackById"
      [week]="week"
      [selectedDay]="selectedDay"
      [currentDay]="currentDay"
      (onDayInit)="onDayElementInit($event)"
    />
  </ul>

  <div class="weeks__footer">
    <div
      class="weeks__buttons-add"
      [class.weeks__buttons-add--rotate]="isSuccessAdded"
    >
      <app-circle-button
        (action)="onAdd()"
        [isSuccess]="isSuccessAdded"
        [img]="'bx bxs-folder-plus'"
      />
    </div>
  </div>
</section>
