@import '../../../styles/mixins.scss';

.title {
  &__main {
    font-size: 30px;
    font-weight: 700;
    margin: 0;

    @include desktop() {
      font-size: 100px;
    }
  }

  &__sub {
    font-size: 22px;
    font-weight: 600;
    color: rgba($color: #fff, $alpha: .7);
  }
}