$color-grey--light: #2B2B2B;
$color-grey--main: #141414;
$color-orange: #FFA341;
$color-red: #FF5656;
$color-blue: #2171FF;
$color-blue--focus: #4399FF;
$color-grey-shrift: #5D5D5D;
$color-grey-shrift-light: #7B7B7B;