@import '../styles/mixins.scss';
@import './../styles/variables.scss';

.app {
  height: calc(100vh - 140px);

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__container {
    box-sizing: border-box;
    height: 100%;
    padding: 10px 80px;

    margin-top: 100px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__main {
    position: relative;
    width: 40%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }

  &__pages {
    height: 100%;
    transition: .5s;

    &-move {
      transform: translateY(-100%);
    }
  }
  
  &__page {
    height: 100%;
  }

  &__nav {
    z-index: 1;
    background-color: $color-grey--light;
    padding: 30px 80px;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}