<section class="app">
  <div class="app__logo">
    <logo/>
  </div>

  <div class="app__container">
    <div class="app__wrapper">
      <div class="app__shell">
        <div
          class="app__pages"
          [class.app__pages-move]="href !== 'about'"
        >
          <div class="app__page">
            main
            <main-title/>
          </div>

          <div class="app__page">
            <!-- <router-outlet></router-outlet> -->
            <app-details-page/>
          </div>
        </div>
      </div>

      <nav class="app__nav">
        <app-nav *ngFor="let nav of navs" [nav]="nav"/>
      </nav>
    </div>
  
    <div class="app__days">
      <app-weeks [weeks]="weeks"/>
    </div>
  </div>
</section>