@import '../styles/mixins.scss';
@import './../styles/variables.scss';

.app {
  @include desktop() {
    height: calc(100vh - 140px);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__container {
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;

    @include desktop() {
      flex-direction: row;
      width: 100%;
      margin-top: 100px;
      padding: 10px 80px;
    }

    @each $width in $screenWidths {
      @media (min-width: #{$width}px) and (max-width: 1280px) {
        width: #{$width}px;
      }
    }
  }

  &__shell {
    overflow: hidden;
    height: 100%;
  }

  &__days {
    width: 100%;

    @include desktop() {
      position: relative;
      width: 40%;
      height: calc(100vh - 164px);
    }
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: calc(100vh - 90px);
    width: 100%;

    @include desktop() {
      width: 50%;
      height: calc(100vh - 164px);
    }
  }

  &__pages {
    height: 100%;
    transition: .5s;

    &-move {
      transform: translateY(-100%);
    }
  }
  
  &__page {
    height: 100%;
  }

  &__nav {
    z-index: 1;
    background-color: $color-grey--light;
    padding: 20px 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include tablet() {
      border-radius: 20px;

      padding: 25px 120px;
    }

    @include desktop() {
      border-radius: 20px 20px 0 0;
      padding: 30px 80px;
    }
  }
}