@import '../../../../styles/variables.scss';

.week {
  width: 470px;

  &-active {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: -3%;
    width: 100%;
    height: 4px;
    border-radius: $border-radius;
    background-color: rgba($color: $color-green, $alpha: .4);
  }

  &__list {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}